body
{
background: #8cd2b4; 
}

p.neat-word {
    text-align: center;
    font-size:30px;
    color: blue;
    text-transform:uppercase;
}

p {
    text-align: center;
    margin: 0 20%;
}

a:link {
  color: blue;
  font-size:30px;
  text-align: center;
  text-transform:uppercase;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

div.me {
  position: absolute;
  width: 185px;
  height: 185px;
  left:20%;
  }
  
  
c:link {
  color: blue;
  font-size:20px;
  text-align: center;
  text-transform:uppercase;
  background-color: transparent;
  text-decoration: none;
}
c:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
c:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
c:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}



  
  div.research {
  position: absolute;
  width: 185px;
  height: 185px;
  left:23%;
  font-size:25px;
    color: blue;
  }
  
  div.teach {
  position: absolute;
  width: 185px;
  height: 185px;
  left:43%;
  font-size:25px;
    color: blue;
  }
  
  div.resume {
  position: absolute;
  width: 185px;
  height: 185px;
  left:63%;
  font-size:25px;
    color: blue;
  }

.circle-container {
    position: relative;
    width: 24em;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; z-index: -1;}
.deg0 { transform: rotate(346deg) translate(38.5em) }
.deg1 { transform: rotate(330deg) translate(35.5em) }
.deg2 { transform: rotate(355deg) translate(29em); }
.deg3 { transform: rotate(5deg) translate(38.5em) }
.deg4 { transform: rotate(11deg) translate(29em) }
.deg5 { transform: rotate(15deg) translate(11em); } 
.deg6 { transform: rotate(318deg) translate(4em) }
.deg7 { transform: rotate(356deg) translate(21.5em) }
.deg8 { transform: rotate(169deg) translate(6em)}
.deg9 { transform: rotate(194deg) translate(15em) }
.deg10 { transform: rotate(182deg) translate(31em) }
.deg11 { transform: rotate(193deg) translate(38em) }
.deg12 { transform: rotate(175deg) translate(23em) }
.deg13 { transform: rotate(209deg) translate(33em) } 

.deg14 { transform: rotate(330deg) translate(40em) rotate(-9deg) }
.deg15 { transform: rotate(342deg) translate(36em) rotate(60deg) }
.deg16 { transform: rotate(354deg) translate(30em) rotate(7deg) }
.deg17 { transform: rotate(353deg) translate(35em) rotate(-49deg) }
.deg18 { transform: rotate(341.5deg) translate(36.5em) rotate(46deg) }
.deg19 { transform: rotate(350deg) translate(21em) rotate(107deg) }
.deg20 { transform: rotate(321deg) translate(22em) rotate(126deg) }
.deg21 { transform: rotate(350deg) translate(17em) rotate(85deg) }
.deg22 { transform: rotate(250deg) translate(3em) rotate(350deg) }
.deg23 { transform: rotate(243deg) translate(11em) rotate(24deg) }
.deg24 { transform: rotate(208deg) translate(19em) rotate(64deg) }
.deg25 { transform: rotate(185deg) translate(18em) rotate(44deg) }
.deg26 { transform: rotate(205deg) translate(27em) rotate(136deg) }
.deg27 { transform: rotate(190deg) translate(33em) rotate(130deg) }
.deg28 { transform: rotate(305deg) translate(17em) rotate(136deg) }

#rectangle0 { width: 3px; height: 160px; background: black; }
#rectangle1 { width: 3px; height: 300px; background: black; }
#rectangle2 { width: 3px; height: 400px; background: black; }

#circle0 {
      position: relative;
      background-color: #e60000; /*red*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle1 {
      position: relative;
      background-color:  #e60000;
      /*margin: 10px auto;*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle2 {
      position: relative;
      background-color: #e60000; /*red*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle3 {
      position: relative;
      background-color:  #e60000;
      /*margin: 10px auto;*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle4 {
      position: relative;
      background-color: #e60000; /*red*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle5 {
      position: relative;
      background-color:  #e60000;
      /*margin: 10px auto;*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle6 {
      position: relative;
      background-color: #e60000; /*red*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle7 {
      position: relative;
      background-color:  #e60000;
      /*margin: 10px auto;*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle8 {
      position: relative;
      background-color: #e60000; /*red*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle9 {
      position: relative;
      background-color:  #e60000;
      /*margin: 10px auto;*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }

#circle10 {
      position: relative;
      background-color: #e60000; /*red*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle11 {
      position: relative;
      background-color:  #e60000;
      /*margin: 10px auto;*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }

#circle12 {
      position: relative;
      background-color: #e60000; /*red*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    
#circle13 {
      position: relative;
      background-color:  #e60000;
      /*margin: 10px auto;*/
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }